<div class="container">
  <div class="row">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
  </div>
  <div class="row">
    <h2>Comments</h2>
    <%# @post.comments.each do |comment| %>
      <!-- <div class="panel panel-default">        
        <div class="panel-body"><%#= comment.content %> <%#= link_to "Borrar", post_comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %></div>
      </div> -->
    <%# end %>
    

    <div class="comments"></div>

    <%= form_for [@post, @post.comments.build] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "Agregar comentario" %>
      </div>

      <div class="actions text-right">
        <%= f.submit "Comentar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<!--
<script type="text/javascript">  
  function paintComments(comments) {
    var commentData = ''
    comments.forEach(function (comment) {
      commentData +=  '<div class="panel panel-default"><div class="panel-body">' + comment.content + '</div></div>'      
    })
    $('.comments').append(commentData)
  }

  function callFixer() {
    $.ajax({
      type: "GET",
      contentType: "application/json; charset=utf-8",
      url: "<%= post_comments_path(@post) %>",
      dataType: "json",
      success: function (response) {
        paintComments(response)
      }
    })
  }

  $(document).on('turbolinks:load', function () {
    callFixer()
  })
</script>
-->

<script type="text/javascript">  
  

  function callFixer() {
    $.ajax({
      type: "GET",
      contentType: "application/javascript",
      url: "<%= post_comments_path(@post) %>"
    })
  }

  $(document).on('turbolinks:load', function () {
    callFixer()
  })
</script>